<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>物联网Lot在线监控平台-加压站系统</title>
		<link rel="stylesheet" type="text/css" href="../Styles/cssinit.css">
		<link rel="stylesheet" type="text/css" href="../Styles/Comm.css">
		<link rel="stylesheet" type="text/css" href="../Styles/Home.css">
	</head>
	<body>
		<div class="container">
			<!-- Header部分内容 -->
			<div class="header">
				<div class="header_top middle">
					<div class="header_top_left l">头部上左部分</div>
					<div class="header_top_middle l">
						头部上中部分
					</div>
					<div class="header_top_right l">头部上右部分	</div>
				</div>
				<div class="header_bottom middle">头部下半部分</div>
				
			</div>
			<!-- /Header部分内容 -->
			
		</div>   
	</body>
</html>