/* 公共样式 */
/* 页面大小 */
.container   /* 类选择器 ，容器的大小*/
{
	width: 1920px; /*容器的宽度和高度*/
	height: 1080px;
	background: url(../Images/bg.png) no-repeat center center  ;  /*图片插入居中，不重复*/
	
	
}
.middle
{
	width: 1840px;
	margin: 0 auto;  /*版心在容器中居中，只有设置了宽度时有效果*/
}
.l
{
	float: left;     /*块级元素中可以使用*/
}
.r{
	float: right;
}
.header{
	width: 1920px; /*容器的宽度和高度*/
	height: 260px;
	background: url(../Images/top-bg_01.png) no-repeat center top ;
	font-family: "微软雅黑";
}
.header_top{
	height: 158px;
	background-color: blue;
	
}
.header_bottom{
	height: 102px;
	background-color: red;
}

.header_top_left,
.header_top_right{
	width: 570px;
	height: 100%;
	background-color: green;
}
.header_top_middle{
	width: 700px;
	height: 100%;
	background-color: yellow;
}
/*头部左侧菜单按钮设置*/
.header_top_left ul{
	margin-top: 50px;
}
.header_top_left ul li{
	float: left;       
	width: 153px;
	height: 42px;
	text-align: center;
	line-height: 42px;
}
.header_top_left ul li a{
	display: inline-block;
	width: 153px;
	height: 42px;
	background: url(../Images/top/top_07.png);
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 0 10px #0190f5;
}
.header_top_left ul li:first-child a{
	background: none;
	width: 116px;
}

.header_top_left ul li:first-child a span{
	display: inline-block;
	width: 42px;
	height: 42px;
	background-image: url(../Images/top/top_03.png);
	vertical-align: middle;       /*盒模型和文本垂直居中对齐*/
	
}